<div>
<p>We're sending DM to your <%= @num_followers %> followers please hang tight.</p>
<p><%= @num_sent %> messages has been sent so far.</p>
<p>You can bookmark this page to see the progress</p>

TODO: You can search your followers below to see if message has been sent to these people
</div>