<div style="padding: 20px;">
    <H2>TW-Megaphone</h2>
    <h4>We help you send DMs to all of your followers</h4>
    <div>
        <%= link_to "Sign in with Twitter", '/auth/twitter', class: "btn" %>
    </div>
    <div>
        <h4>How it works</h4>
        <div>
            <ol>
            <li>Sign in with twitter. We'll automatically download list of all of your followers</li>
            <li>Define prioriization rule so we know who we should DMs first</li>
            <li>We'll take care of sending DMs so you can relax (due to limitation of Twitter API, up to 1000 DMs can be sent per day)</li>
            </ol>
        </div>
    </div>
</div>