// Place all the styles related to the dms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-wrapper {
    margin-top: 20px;
}

.dm-text-area {
    margin-bottom: 15px;
    min-height: 100px;
}

.description-wrapper {
    margin-top: 60px;
}

.how-it-works-body {
    margin-top: 12px;
}
