// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.thank-you {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}