// Place all the styles related to the follower controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
    margin-bottom: 24px;
}

.header-avatar {
    width: 32px;
    height: 32px;
}

.follower-icon {
    width: 32px;
    height: 32px;
}

.rule-details-input-area {
    padding: 16px;
}

.delete-icon {
    cursor: pointer;
}

.load-follower-spinner {
    padding-top: 150px;
    padding-bottom: 200px;
}

.rerank-progress {
    padding-top: 20px;
}

.sync-follower-spinner {
    padding-top: 200px;
    padding-bottom: 200px;
}

.sync-follower-progress {
    padding-top: 20px;
}