<div class="bg-light" style="padding: 40px;">
  <div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <div class="justify-content-center thank-you">
        <h5>Your preference is recorded, we'll stop contacting you</h5>
      </div>
    </div>
  </div>
</div>