<div class="bg-light" style="padding: 40px;">
  <div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <div class="justify-content-center msg">
        <h5>Your data export is in-progress</h5><h5>download will automatically start when data is ready</h5>
      </div>
    </div>
  </div>
</div>